div(id="exam-content", class="section", data-body-id="")
	div.grid-container
		div(class="grid-100 mobile-grid-100")
			h1 {[ lesson.title ]}
			div#exam-assignments
				div(id="assignment-{[ assignment._id ]}", class="assignment", data-ng-repeat="assignment in assignments")
					h3 {[ assignment.description ]}
					ul(class="options-list grid-100 mobile-grid-100 grid-parent")
						li(class="grid-50 mobile-grid-100", data-ng-repeat="(label, points) in assignment.choices", data-faux-radio="")
							div.inner-container
								div.radio
									span.nindex {[ $index+1 ]}
									label
										input(type="radio", name="{[ assignment._id ]}", value="{[ label ]}", data-score="{[ points ]}") 
										| {[ label ]}
				div.submit-button: button(type="button", class="btn btn-primary", data-ng-click="submitExam()") <i class="fa fa-check"></i> submit
			div(id="certificate", style="display: none")
				h1 Your score is: <span class="score" data-ng-class="{ passed: finalScore >= 51 }">{[ finalScore ]}%</span> correct
				div#results-chart
				div.result-info
					p(class="passed", data-ng-show="finalScore >= 51") Congratulations you passed the exam succesfully!
					p(class="failed", data-ng-show="finalScore < 51") Ooooops, it seems that you need a little recap! <br/> We're sorry but you didn't pass the exam.