div(id="insights-content", class="section", data-body-id="")
	div.grid-container
		div(id="chart", class="grid-100 mobile-grid-100")
			div.inner-container
				div(id="insights-chart", class="rendered-chart")